* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: Arial, "Noto Sans KR", sans-serif;
  background-color: #fff8ef;
  color: #3e201c;
}

button {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}